<% layout("/layout/boilerplate") %>
<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
    }
    #filter{
        text-align: center;
        margin-right: 3rem;
        opacity: 0.7;
    }
    #filter:hover{
        opacity: 1;
        cursor: pointer;
    }
</style>
<!-- <div class="container mt-4"> -->


<!-- <h1>All Listings:- </h1> -->
<div id="filters">
    <div id="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Castles</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>
    
    
    </div>
<!-- </div> -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

    <% for(let info of data){ %>

        <div class="col " class="ml-4">
            <a href="/listings/<%=info._id %>" class="listing-link">
                <div class="card listing-card" style="width: 20rem;">
                    <img src="<%= info.image.url %>" 
                    class="card-img-top" 
                    alt="listing image" 
                    style="height:20rem;">

                    <div class="card-img-overlay">abcdef</div>

                    <div class="card-body">
                        <p class="card-text">
                            <b><%= info.title %></b>
                            <br>
                            &#8377;<%= info.price %>/night
                        </p>
                    </div>

                </div>
            </a>
        </div>

    <% } %>

</div>
</div>